---
title: 乐天
layout: default
header_content: |
  <span class="smol"><a href="/EN">English</a> / 中文简体</span>
  <!-- 心知天气固定插件 -->
  <div align="right" id="tp-weather-widget"></div>
  <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
  <script>tpwidget("init", {
    "flavor": "slim",
    "location": "WS0E9D8WN298",
    "geolocation": "enabled",
    "language": "auto",
    "unit": "c",
    "theme": "chameleon",
    "container": "tp-weather-widget",
    "bubble": "enabled",
    "alarmType": "badge",
    "uid": "U81EB522D4",
    "hash": "6b972a5f25f3cc4e8beb25e2feab9d4b"
  });
  tpwidget("show");
  </script>
---



<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    其实是一个很笨的人。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    如果再懒一点，可能就什么都没有了。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    希望有一天，家人闲坐，灯火可亲。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">便签 <a href="/notes" class="smol">【全】</a> <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>

<hr class="hr">