---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    {% include head.html %}
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?28214ad71de3d3803f1e7658693f7ecd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                    </a>
                    <a href="{{ site.url }}/feed.xml">RSS Subscription</a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a href="{{ site.url }}">
                        <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                <h3>Please contact me at this email address if you need 
                    srgz.charlotte@gmail.com 
               
                <h3 class="title">
                    <a class="btn coombtn" href="{{site.url}}/about">
                        About
                    </a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/Robotics">
                        Robotics
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/projects">
                        AI or others
                    </a>                    
                    <a class="btn zoombtn" href="{{ site.url }}/readingnotes">
                        Reading notes
                    </a>
                    <hr class="hr-line">
                    <a class="btn zoombtn" href="{{ site.url }}/Photograpy">
                        Photograpy
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/Piano">
                        Piano songs
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">
                        Somniloquys
                    </a>
                </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>Time-based Archiving</h1>
                    <h4>You can find <b>new<b/> articles here more easily.</h4>
                <div class="post-list">
                    {% for post in site.posts %}
                    {% if post.timeline %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">
                                <p><h3>{{ post.title }} </h3></p>
                                <p>Excerpt: {{ post.excerpt }}</p>
                                <h5>{{ post.date | date_to_string }}</h5>
                            </a>
                        </li>
                        <hr class="hr-line">
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
